$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: royalblue;
$color__link-visited: purple;
$color__link-hover: midnightblue;
$color__text-main: #404040;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;

$oct: rgb(213,108,43);
$oct_dull: gray;
$nov: rgb(189,78,38);
$nov_dull: gray;
$dec: rgb(165,49,35);
$dec_dull: gray;
$jan: rgb(38,62,85);
$jan_dull: gray;
$feb: rgb(54,92,118);
$feb_dull: gray;
$mar: rgb(71,119,150);
$mar_dull: gray;
$apr: rgb(88,148,184);
$apr_dull: gray;
$may: rgb(119,165,146);
$may_dull: gray;
$jun: rgb(167,182,111);
$jun_dull: gray;
$jul: rgb(225,199,80);
$jul_dull: gray;
$aug: rgb(219,168,67);
$aug_dull: gray;
$sep: rgb(216,138,55);
$sep_dull: gray;