
/*
$oct: rgb(222,196,104); //rgb(222,206,114); //rgb(213,108,43);
$oct_dull: rgb(245,234,172);
$nov: rgb(166,188,96); //rgb(189,78,38);
$nov_dull: rgb(216,229,182);
$dec: rgb(128,189,149); //rgb(165,49,35);
$dec_dull: rgb(195,227,209);
$jan: rgb(103,131,176); //rgb(38,62,85);
$jan_dull: rgb(188,205,227);
$feb: rgb(181,101,131); //rgb(54,92,118);
$feb_dull: rgb(216,180,195);
$mar: rgb(207,132,113); //rgb(71,119,150);
$mar_dull: rgb(230,199,191);
$apr: $oct; //rgb(88,148,184);
$apr_dull: $oct_dull;
$may: $nov; //rgb(119,165,146);
$may_dull: $nov_dull;
$jun: $dec; //rgb(167,182,111);
$jun_dull: $dec_dull;
$jul: $jan; //rgb(225,199,80);
$jul_dull: $jan_dull;
$aug: $feb; //rgb(219,168,67);
$aug_dull: $feb_dull;
$sep: $mar; //rgb(216,138,55);
$sep_dull: $mar_dull;
*/

//.home {
	#primary {
		margin: auto;
		width: 750px;
		max-width: 100%;
	}

	#main {
		clear: both;
	}	
///}